.article-detail-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
  height: 100vh; /* Mantiene la altura de la vista */
}

/* .article-detail-section {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  min-width: 300px; 
  max-height: calc(100vh - 20px); 
  overflow-y: auto;
} */

.article-detail-section h3 {
  margin-top: 0;
}

.article-detail-content {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  overflow: auto; /* Permite desplazamiento si es necesario */
}

.react-quill-container {
  height: calc(
    100% - 20px
  ); /* Ajusta la altura para el espacio superior e inferior */
  display: flex;
  flex-direction: column;
}

.react-quill-container .ql-editor {
  flex: 1; /* Permite que el editor crezca */
  overflow-y: auto; /* Permite desplazamiento vertical */
  border: 1px solid #ddd; /* Bordes para mejor visualización */
  padding: 10px; /* Espacio interno */
}

.suggestion-modal {
  background-color: rgb(78, 78, 78);
  color: white;
}


.suggestion-component {
   /* background-color: rgb(58, 58, 58); */
   background-color: white;
   color: black;
   position: relative;
}