.article-detail {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-detail:hover {
  background: var(--fancy-gradient);
}
