@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --active-color: rgb(14, 53, 61);
  --highlighted-color: rgb(0, 255, 162);
  --font-color: rgb(255, 255, 255);
  --bg-color: rgb(10, 9, 26);
  --hovered-color: rgb(3, 25, 30);
  --modals-color: rgb(255, 255, 255);
  --primary-color: #3d0093;
  --secondary-color: #0097b2;
  --accent-color: #ac46ff;
  --background-color: #101011;
  --text-color: #333333;
  --muted-color: #828282;
  --border-color: #e0e0e0;
  --fancy-gradient: linear-gradient(132deg, #510093 0%, #0032b2 100%);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #b7b4b4c6;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html {
  color-scheme: light;
}
body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.button {
  padding: 5px 6px;
  background-color: transparent;
  border-radius: 6px;
  border: 0;
}

.button:hover {
  background-color: #262626;
}

.highlighted {
  color: var(--highlighted-color);
}
.fancy-bg {
  background: var(--fancy-gradient);
  background-size: 200% 200%;
  animation: fancy-animation 10s infinite;
}

.fancy-text {
  color: transparent;
  background: var(--fancy-gradient);
  background-size: 200% 200%;
  animation: fancy-animation 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  background-clip: text;
}

/* An animation to give movement to the bg */
@keyframes fancy-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-white {
  color: white !important;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
}
.padding-big {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.flex-y {
  flex-direction: column;
}
.gap-medium {
  gap: 20px;
}
